
.container_comp {
    background : #1b1c1d;

}

div > div.segment {
    color: slategrey;
    background: #1b1c1d;
}
div > div.row {
    background-color : #1b1c1d;
}

.nav_button {
    width : 100%;
    height : 100%;
}