
  nav > ul {
    padding-left:0;
  }
  
  nav > ul > li {
    display:inline-block;
   margin-right:10px;
  }
  
  nav > ul > li > a.active {
    color:white;
  }

  nav > ul > li > a {
    color: slategrey;
  }
  
.active-link {
  color:white;
}

.width_header {
  background:#1b1c1d;;
}